body {
    margin: 0px;
}
 .wrapper {
    width: 100%;
    max-width: 1200px;
    height: 20px;
} 
nav ul li a {
    background-color:white;
    color: black;
    text-decoration: none;
    font-family: Verdana;
    padding: 5px;
    /* border: 0.5px solid whitesmoke; */
    display: inline-block;
    font-size: 10px;
}
nav li {
    list-style-type: none;
}
#microsoft {
    max-width: 34%;
}
.vertical {
    border-left: 2px solid black;
    height: 20px;
    margin-left: -134px;
}
nav ul li a:hover{
    text-decoration: underline;
}
.line1 {
    border: 0.04px solid #e6d6d6;
    margin-top: -13px;
}  
.login {
    color: #09659b;
    margin-right: 32px;
}
#asearch {
    margin-right: 10px;
    width: 143px;
}
#documents {
    text-decoration: underline;
}
.bluebox {
    background-color: #005ba1;
    display: block;
    height: 121px;
    margin-top: 99px;
}
.line2 {
    border: 0.04px solid #e6d6d6;
    position: relative;
    bottom: 75px;   
}
.azurebold {
    font-weight: bold;
    font-size: 15px;
}
#azureproducts {
    width: 160px;
    border: none;
    scroll-behavior: smooth;
}
#architecture {
    width: 95px;
    border: none;
}
#learnazure {
    width: 97px;
    border: none;
}
#languages {
    width: 72px;
    border: none;
}
#resources {
    width: 87px;
    border: none;
}
.portal {
    border: 0.5px solid #005ba1;
    margin-right: 4px;
}
.freeaccount {
    border: 0.5px solid #005ba1;
    margin-right: 45px;
    background-color: #005ba1;
    color: white;
}
.products :hover {
    text-decoration: underline;
}
.bmarks {
    position: relative;
    top: -31px;
    left: 816px;
}
.share {
    position: relative;
    bottom: 30px;
    left: 819px;
}
.azureservices {
    position: relative;
    bottom: 115px;
    left: 58px;
    font-family: sans-serif;
    color: white;
}
.azureservices1 {
    font-size: 10px;
}
.divstarted {
    position: relative;
    width: 212px;
    height: 85px;
    box-shadow: 1px 1px 2px 1px #e7dddd;
    top: 1px;
    left: 7px;
}
.getstartedimg {
    position: relative;
    max-width: 19%;
    top: 3px;
    left: 13px;
}
#h6getstarted {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 9px;
    bottom: 66px;
    left: 53px;

}
#pgetstarted {
    position: relative;
    font-family:sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #005ba1;
    left: 26px;
    top: -58px;
}
.divarchitecture {
    width: 212px;
    height: 85px;
    box-shadow: 1px 1px 2px 1px #e7dddd;
    position: relative;
    top: 1px;
    left: 31px;
}
.architectureimg {
    position: relative;
    max-width: 21%;
    top: 4px;
    left: 13px;
}
#h6architecture {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 9px;
    bottom: 62px;
    left: 61px;
}
#parchitecture {
    position: relative;
    font-family:sans-serif;
    color: #005ba1;
    font-weight: bold;
    font-size: 12px;
    left: 14px;
    top: -51px;
}
.divoverview {
    width: 212px;
    height: 85px;
    box-shadow: 1px 1px 2px 1px #e7dddd;
    position: relative;
    top: 1px;
    left: 55px;
}
.overviewimg {
    position: relative;
    max-width: 21%;
    top: 7px;
    left: 15px;
}
#h6overview {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 9px;
    bottom: 59px;
    left: 62px;
}
#poverview {
    position: relative;
    font-family:sans-serif;
    color: #005ba1;
    font-weight: bold;
    font-size: 12px;
    left: 15px;
    top: -49px;
}
.divlearn {
    width: 212px;
    height: 85px;
    box-shadow: 1px 1px 2px 1px #e7dddd;
    position: relative;
    top: 1px;
    left: 78px;
}
.learnimg {
    position: relative;
    max-width: 21%;
    top: 10px;
    left: 13px;
}
#h6learn {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 9px;
    bottom: 57px;
    left: 61px;
}
#plearn {
    position: relative;
    font-family:sans-serif;
    color: #005ba1;
    font-weight: bold;
    font-size: 12px;
    left: 17px;
    top: -47px;
} 
nav.firsttiles{
    position: relative;
    bottom: 87px;
}
.browse {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    margin-left: 48px;
}
ul.all {
    list-style-type: none;
}


@media screen and (min-width: 400px) {

    nav ul {
        display: flex;
        flex-wrap: wrap;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
}



