body {
    margin: 0;
}
/* first nav bar */
.nav-1 {
    width: 100%;
    background-color: #333;
    height: 53px;
}
.nav-1-div {
    background-color: aqua;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 53px;
}
.order-image-div {
    display: flex;
    justify-content: space-around;
    background-color: green;
    width: 34%;
    height: 26px;
    margin-top: 14px;
}
.order-image {
    max-width: 12%;
}
.always-order-food-div {
    background-color: blueviolet;
    margin-top: 4px;
    margin-right: 4px;
}
.always-order-food-span {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: white;
    font-weight: 600;
}
.nav-1-elements-ul {
    background-color: orange;
    width: 89%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.nav-1-elements-li {
    text-decoration: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 9px;
    font-weight: 100;
    color: white;
}
